*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

/*cor:#75f542*/

html, body{
	height:100%;
	font-size:20px;
}

body{
	background-color:#75f542;
}

form{
	width:60%;
	padding:15px;
	background-color:white;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-60%);
	border-radius:10px;
	text-align:center;
}

form fieldset{
	border:0;
}

form legend{
	color:#75f542;
	text-align:center;
	font:1.7em bold;
}

form input{
	width:80%;
	height:30px;
	padding:5px;
	border-radius:5px;
	border:none;
	background-color:#ccc;
	margin-bottom:15px;
}

form label{
	display:block;
	text-align:left;
	position:relative;
	left:78px;
	/*transform:translate(-75%);*/
}

form input[type=submit]{
	background-color:#1260fc;
	width:100px;
	color:white;
	cursor:pointer;
	font-size:0.9em;
	font-weight:bold;
}

form input[type=submit]:hover{
	background-color:#0098f0;
	transition:1s;
}

form .flex{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding:0 10px 10px 0;

}

form .flex h3{
	display:block;

}

form input[type=tel],form input#cep{
	width:calc(30% + 0px);
}
